.home-page {
    color: #333;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.hero-section {
    background: linear-gradient(to right, #090909, #8c8c8c);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0 2rem;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.hero-text {
    margin-bottom: 2rem;
}

.hero-text h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: clamp(1rem, 3vw, 1.2rem);
    margin-bottom: 2rem;
}

.hero-image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #f4a460;
    background-image: url('../Components/Data/me2.avif');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-image h1 {
    color: #fd2600;
    font-size: clamp(2rem, 5vw, 60px);
    position: absolute;
    left: 20%;
    top: 80%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 2);

}

.text-roller {
    white-space: nowrap;
    animation: textRoller 10s linear infinite;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@keyframes text-roller {
    0% {
        transform: translateX(100%) rotate(0deg) delay(200);
    }

    50% {
        transform: translateX(-50%) rotate(180deg) delay(200);
    }

    100% {
        transform: translateX(-100%) rotate(360deg) delay(200);
    }
}


.btn {
    background-color: #fff;
    color: #ff6347;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #fd2600;
    color: #fff;
}