* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #ff6200;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    transition: color 0.3s;
}

.logo a:hover {
    color: #e0e0e0;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    font-size: 1.2rem;
    /* background-color: #ff5900; */
    background-color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
    color: #ff6200;
    background-color: #f4f4f4;
    border-radius: 15px;
}